
                 body{
                    font-family: sans-serif;
                    width:100%;
                    margin: 0px;
                    padding: 0px;
                    background-color:white;
                 }
                 #maintable{
                    
                    width:100%;
                    margin-bottom: 30px;
                    box-shadow: 0px 20px whitesmoke;
                 }

                 
                 #table7 tr:nth-child(even) {
                    background-color:#f9f9f9;
                 }
                 #table8 tr:nth-child(even) {
                    background-color: #f9f9f9;
                 }
                 #table9 tr:nth-child(even) {
                    background-color: #f9f9f9;
                 }
                #imageStyle{
                    width:auto;
                    height:50px;

                    }
                #button1{
                    background-color: #42b315;
                    color:white;
                    font-size: 20px;
                    padding:6px;
                    float:right;

                }
                #button2{
                    background-color: #d6564c;
                    color:white;
                    font-size: 20px;
                    padding:6px;
                    float:right;
                }
                    #button3{
                        color:white;
                        background-color:#03abfb;
                        padding: 7px 9px 10px 9px;
                        margin-left: -2px;
                        
                }
                #logos{
                    color:white;
                    font-size: 16px;
                    background-color:#e42063;
                    border-radius: 50%;
                    padding: 5px;
                }
                strong{
                    color:#c03765;
                    font-size:20px;
                }
                span{
                    color:#6b9de0; 
                }
                .table1{
                    width:55%;
                    text-align:left;
                    padding: 5px;
                    vertical-align: top;
                }
    
                .table2{
                    width:23%;
                    text-align:left;
                    padding: 5px;
                    vertical-align: top;
                }
                .table3{
                    width:22%;
                    text-align:left;
                    padding: 5px;
                    vertical-align: top;
                }
                #table7,#table9{
                     border:1px solid;
                     border-collapse: collapse;
                     width:100%;
                     padding:10px;
                }
                #table8{
                    border:1px solid;
                    border-collapse: collapse;
                    width:100%;
                    padding:10px;
                }
                #table7{
                    padding-left: 15px;
                }
                
                #table7 th, #table8 th, #table9 th{
                     border:1px solid;
                     padding:10px;
                     
                }
                #table7 tr td, #table8 tr td, #table9 tr td{
                    border:1px solid;
                    border-collapse: collapse;
                    padding:10px;
                }
               .table4,.table6{
         
                width:100%;
                font-size:20px;
                
               }
               .table5{
                width:100%;
                font-size:20px;
               
               }
               
              
                table button{
                    background-color:orange;
                    
                    border:none;
                    color:white;
                    border-radius: 4px;
                    text-align:left;
                    font-size:16px;
    
                }
                input[type=text]{
                    width:350px;
                    height:30px;
                    
                   
                }
                .textstyle1{
                    padding-bottom: 15px;
                
                }
                
                #avgStyle{
                text-align: right;
                font-size: 17px;
                }
                .tdwidth1{
                    width:17%;
                    
                }
                .tdwidth2{
                    width:47%;
                }
                .tdwidth3{
                    width:13%;
                    font-size:15px;
                }
                div{
                    border-radius: 8px;
                    box-shadow: 0 2px 5px whitesmoke;
                    background-color:whitesmoke;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 10px;
                    
                }
                #div1{
                    padding-bottom: 146px;
                }
                #div2{
                    padding-bottom: 219px;
                }
                #div3{
                    padding-bottom: 159px;
                }
                #todayStyle{
                    font-size:15px;
                    padding-bottom: 15px;
                }
                

 